{% extends 'base.html' %}
<html>

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">product</th>
        <th scope="col">quantity</th>
        <th scope="col">price</th>
        <th scope="col">total price</th>
        <th scope="col">remove</th>
      </tr>
    </thead>
    <tbody>
      
    {% for item in cart %}
        
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.total_price }}</td>
        <td><a href="{% url 'orders:remove_cart' item.product.id %}">remove</a></td>
      </tr>
      
    {% endfor %}
      <tr>
        <td colspan="4"></td>
        <td>total</td>
        <td>{{ cart.get_total_price }}</td>
      </tr>
    </tbody>
  </table>
  <a href="{% url 'orders:order_create' %}" class="btn btn-primary">checkout</a>
</html>
{% endblock content %}